<a href="https://colab.research.google.com/github/caseybrennan510/Casey-Brennan/blob/master/Group_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook.

In [0]:
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('PeanutData')

In [0]:
cursor = connectionToDatabase.cursor()

In [0]:
cursor.execute('''create table IF NOT EXISTS Stands (StandID real PRIMARY KEY, Color text, Size text, Type text, TypeOfNut text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute("INSERT INTO Stands (StandID, Color, Size, Type, TypeOfNut) VALUES (0002, 'Blue', 'Medium', 'Highway', 'Coconut')");
connectionToDatabase.commit()

In [120]:
cursor.execute('''select * from Stands;''')
for row in cursor.fetchall():
  print (row)

(2.0, 'Blue', 'Medium', 'Highway', 'Coconut')

In [0]:
cursor.execute('''create table IF NOT EXISTS Locations (LocationAddress text PRIMARY KEY, Traffic text, SpeedLimit real, Visibility text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute("INSERT INTO Locations (LocationAddress, Traffic, SpeedLimit, Visibility) VALUES ('Mile Marker 40', 'Heavy', 65, '2 miles')");
connectionToDatabase.commit()

In [125]:
cursor.execute('''select * from Locations;''')
for row in cursor.fetchall():
  print (row)

('Mile Marker 40', 'Heavy', 65.0, '2 miles')

In [0]:
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('PeanutData')

In [0]:
cursor = connectionToDatabase.cursor()

In [0]:
cursor.execute('''create table IF NOT EXISTS Employees (EmployeeID text PRIMARY KEY, Name text, Phone real, Job text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute("INSERT INTO Employees (EmployeeID, Name, Phone, Job) VALUES ('6689078', 'Charles', 4105824433, 'Fry Cook')");
connectionToDatabase.commit()

In [126]:
cursor.execute('''select * from Employees;''')
for row in cursor.fetchall():
  print (row)

('6689078', 'Charles', 4105824433.0, 'Fry Cook')
('6689978', 'Charles', 4105824433.0, 'Fry Cook')

In [0]:
cursor.execute('''create table IF NOT EXISTS Peanuts (PeanutsID text PRIMARY KEY, type text, price real, brand text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute("INSERT INTO Peanuts (PeanutsID, type, price, brand) VALUES ('6670291', 'roasted', 7.99, 'Joes')");
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from Peanuts;''')
for row in cursor.fetchall():
  print (row)

('6670291', 'roasted', 7.99, 'Joes')

In [0]:
cursor.execute('''create table IF NOT EXISTS Cooker (HotplateID text PRIMARY KEY, amount text, cost real, brand text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute("INSERT INTO Cooker (HotplateID, amount, cost, brand) VALUES ('6689079', '3', 150, 'Jeromes')");
connectionToDatabase.commit()

In [116]:
cursor.execute('''select * from Cooker;''')
for row in cursor.fetchall():
  print (row)

('6689079', '3', 150.0, 'Jeromes')

In [0]:
cursor.execute('''create table IF NOT EXISTS Employees (EmployeeID text PRIMARY KEY, Name text, Phone real, Job text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute("INSERT INTO Employees (EmployeeID, Name, Phone, Job) VALUES ('6689978', 'Charles', 4105824433, 'Fry Cook')");
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from Employees;''')
for row in cursor.fetchall():

  print (row)

('6689078', 'Charles', 4105824433.0, 'Fry Cook')
('6689978', 'Charles', 4105824433.0, 'Fry Cook')

In [0]:
cursor.execute('''create table IF NOT EXISTS Customer (CustomerID text PRIMARY KEY, Gender text, Family text, Age real)''')
connectionToDatabase.commit()

In [0]:
cursor.execute("INSERT INTO Customer (CustomerID, Gender, Family, Age) VALUES ('9907912', 'Female', 'No', 33)");
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from Customer;''')
for row in cursor.fetchall():

  print (row)

('990912', 'Female', 'No', None, 33.0)
('9909912', 'Female', 'No', None, 33.0)
('9907912', 'Female', 'No', None, 33.0)

In [0]:
cursor.execute('''create table IF NOT EXISTS Fryer (EquipmentID text PRIMARY KEY, Cost real, Size text, Expiration text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute("INSERT INTO Fryer (EquipmentID, Cost, Size, Life) VALUES ('1387', 450, 'Large', '10')");
connectionToDatabase.commit()

In [95]:
cursor.execute('''select * from Fryer;''')
for row in cursor.fetchall():

  print (row)

('1287', 450.0, 'Large', 10.0)
('1387', 450.0, 'Large', 10.0)

# What is the price of Peanuts?

In [110]:
cursor.execute('''select price from Peanuts''')
for row in cursor.fetchall():
  print (row)

(7.99,)

# What is the Amount of Fryers?

In [111]:
cursor.execute('''select COUNT(EquipmentID) from Fryer ''')
for row in cursor.fetchall():
  print (row)

(2,)

# What is the Brand of Peanuts used?

In [112]:
cursor.execute('''select brand from Peanuts''')
for row in cursor.fetchall():
  print (row)

('Joes',)

The questions used were important because they provided answers 
for key components of our business such as how many hotplates we would
be using, the brand of peanuts being used and the price of peanuts. 
The answers for these questions helped us figure out if we would be
profitable or not. They also help figure out what we will need to 
purchase and our costs of it. The results matched our expectations
by giving us data to answer the questions.